figure{
    display: flex;
    justify-content: center;
}
.box{
    width: 20%;
    display: flex;
    justify-content: center;


}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;
   gap: 2rem;
}
input{
    width: 5rem;
    text-align: center;
}
header{
    display: flex;
   
}
.numVidas{
  
    gap: 3rem;
    font-size: 6rem;
}
#numVidas{
    align-self: center;
    margin-left: 2rem;
}